body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

html, 
body {
    width: 100%;
}

.outer-div {
    border: 4px solid #9d95e2;

}

.title {
    color: #9d95e2;
    border-bottom: 2px solid #9d95e2;
    margin-left: 5px;
}

.top-form {
    margin-top: 5px;
    width: 100%;
}

.top-input {
    width: 80%;
    border: 2px solid #9d95e2;
}

.top-button {
    width: 20%;
}

#format-form2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9d95e2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    color: #9d95e2;
}

input[type=text] {
    -webkit-text-fill-color: #9d95e2 !important;
    font-size: 70%;
    padding-left: 2%;
    border: 2px solid #9d95e2;
}

#submit {
    background-color: #9d95e2;;
    border: 1px solid #fdbb2d;
    color: white;
}

#edit {
    width: 80%;
    display: flex;
    margin: 0px 0px 5px 0px;
}

#delete {
    width: 20%;
    margin: 0px 0px 5px 0px;
}

.delete {
    padding-top: 3px;
    padding-bottom: 3px;
}

.task-item {
    color: #9d95e2;
    font-weight: bold;
    margin-top: 25px;
}

.button-div1 {
    border-top: 1px solid #9d95e2;
    border-bottom: 1px solid #9d95e2;
}

@media only screen and (min-width: 320px) {
    .outer-div {
        margin-left: 30px;
        width: 90%;
    }

    input[type="text"] {
        font-size: 50%;
        padding-left: 1%;
    }

    #submit {
        font-size: 50%;
    }

    .delete {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    
}

@media only screen and (min-width: 414px) {
    .outer-div {
        margin-left: 30px;
        width: 90%;
    }

    input[type="text"] {
        font-size: 60%;
        padding-left: 1%;
    }

    #submit {
        font-size: 60%;
    }

    .delete {
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

@media only screen and (min-width: 768px) {
    .outer-div {
        margin-left: 30px;
        width: 60%;
    }

    input[type="text"] {
        font-size: 80%;
        padding-left: 2%;
    }

    #submit {
        font-size: 70%;
    }

    .delete {
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

@media only screen and (min-width: 1184px) {
    .outer-div {
        margin-left: 17px;
        width: 40%;
    }

    input[type="text"] {
        font-size: 80%;
        padding-left: 2%;
    }

    #submit {
        font-size: 70%;
    }

    .delete {
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

/* Style the button that is used to open and close the collapsible content */
/* .collapsible {
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
} */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, 
.collapsible:hover {
    background-image: url('/images/button-hover.jpg');
    color: white;
} */

/* Style the collapsible content. Note: hidden by default */
/* #content {
    padding: 0 12px;
    display: none;
    overflow: hidden;
    background-color: #6c679d;
    opacity: .8;
    color: white;
    
} */

/* .button-div2 {
    border-bottom: 1px solid #9d95e2;
}

.complete {
    border-bottom: 1px solid #9d95e2;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.complete:hover {
    background-image: url('/images/button-hover.jpg');
    color: white;
}

.delete {
    border-top: 1px solid #9d95e2;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.delete:hover {
    background-image: url('/images/button-hover.jpg');
    color: white;
} */